body {
    margin: 0;
    padding: 0;

}

#board {
    width: 100vw;
    height: 100vh;
    background-color: cadetblue;
    position: relative;
    overflow: hidden;
}

#player {
    background-color: navy;
    position: absolute;

}

.obstacle {
    background-color: pink;
    position: absolute;  
}